<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>page</title>
</head>

<body>

    <div class="row show ">
        <p>
            <a href="{% url 'new-photos'%}">Create post</a>
        </p>


        {% for pic in posts %}
        <div class="col-md-4 card ">
            {%if pic.image%}
            <a href="#">
                <img src="{{pic.image.url}}" data-target="#imageModal{{pic.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage" style="height: 480px; width: 350px"></a> {%else%}
            <p>No image</p>
            {%endif%}
        </div>

        {% endfor %}
    </div>


</body>

</html>