{%extends "django_registration/base.html"%} {% load static%} {% load bootstrap5 %} {% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %} {% block content %}
<div style="margin-top: 122px;" class="container">

    <div class="container row">
        {% for photo in profile %}
        <div class="">

            <img src="{{ photo.profile_pic.url}}" class="img-fluid img-thumbnail rounded-circle" style="width: 150px;" alt="Avatar" />
        </div>
        <div class="col-md-4">
            <b>{{ user }}</b>
            <a href="{% url 'updateprofile' %}"> <button class="button">Edit Profile</button> </a>
            <a class='btn btn-default' href=""></a>

            <div class="my-4">
                <strong>
               <span> {{photo.posts}} Posts</span>
                <span class="photo">{{photo.followers}} Followers</span>
                {{photo.following}} Following
            </strong>
            </div>
            <b>{{photo.name}}</b>

        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="container">
        {% for img in image %}
        <img src="{{img.image.url}}" alt="" srcset="" style="width:14rem ; height:9rem;" class="my-1"> {% endfor %}
    </div>

    <div class="container">
        {% for img in profile %}
        <img src="{{img.profile_pic.url}}" alt="" srcset="" style="width:14rem ; height:9rem;" class="my-1"> {% endfor %}
    </div>



</div>

{% endblock %}