<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" static/css/welcome.css">
    <title>Document</title>
</head>

<body>
    <div class="display">
        <div class="options">
            <div class="option active" style="--optionBackground:url(https://i.pinimg.com/564x/7c/65/5b/7c655b800b912e2bfdc266248f0e64eb.jpg);">
                <div class="shadow"></div>
                <div class="label">


                    <h3>Yeng ameweza</br>
                        checkout post on the latest trend fashion</h3>

                </div>
            </div>
            <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/3f/02/3e/3f023e3e960c935e8f68d62d6e887563.jpg);">
                <div class="shadow"></div>
                <div class="label">

                    <h3>Food Photography</br>
                        Like on that Yummy food post</h3>

                </div>
            </div>
            <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/13/3e/17/133e170f95231177047064eda9682970.jpg);">
                <div class="shadow"></div>
                <div class="label">


                    <h3>Parting <br>Kila mtu ako na.... </h3>


                </div>
            </div>
            <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/7d/c1/fd/7dc1fd66e67a9cd550ace2552d0e6991.jpg);  ">
                <div class="shadow"></div>
                <div class="label">
                    <h3>Muivo<br>Gonga like....</h3>
                </div>
            </div>

        </div>
    </div>
    <div class="signs">
        <button class="btn btn-primary btn-lg" role="button"> <a href="#">SignUp</a> </button>

        <button class="btn btn-primary btn-lg" role="button"> <a href="#">LOGIN</a> </button>
    </div>

    <script src="app.js"></script>
</body>

</html>