<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basenews.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="options">
        <div class="option active" style="--optionBackground:url(https://i.pinimg.com/564x/7c/65/5b/7c655b800b912e2bfdc266248f0e64eb.jpg);">
            <div class="shadow"></div>
            <div class="label">

                <div class="info">
                    <div class="main">Yeng ameweza</div>
                    <div class="sub">checkout post on the latest trend fashion</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/3f/02/3e/3f023e3e960c935e8f68d62d6e887563.jpg);">
            <div class="shadow"></div>
            <div class="label">

                <div class="info">
                    <div class="main">Food Photography</div>
                    <div class="sub">Like on that Yummy food post</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/13/3e/17/133e170f95231177047064eda9682970.jpg);">
            <div class="shadow"></div>
            <div class="label">

                <div class="info">
                    <div class="main">Parting</div>
                    <div class="sub">Kila mtu ako na....</div>
                </div>
            </div>
        </div>
        <div class="option" style="--optionBackground:url(https://i.pinimg.com/564x/7d/c1/fd/7dc1fd66e67a9cd550ace2552d0e6991.jpg);  ">
            <div class="shadow"></div>
            <div class="label">

                <div class="info">
                    <div class="main">Muivo</div>
                    <div class="sub">Gonga like....</div>
                </div>
            </div>
        </div>

    </div>

    <script src="app.js"></script>
</body>

</html>