* {
    background-color: #a7c1bc;
}

.signs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.25s;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

.options .option:nth-child(2):hover {
    width: 500px;
}

.options .option:nth-child(3):hover {
    width: 500px;
}

.options .option:nth-child(4):hover {
    width: 500px;
}

.options .option:nth-child(5):hover {
    width: 500px;
}

.options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #f8e941));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px #f8e941, inset 0 -120px 120px -100px #f8e941;
}

.options .option .label {
    bottom: 20px;
    left: 20px;
    transform: scale(0.9);
    background-color: transparent;
}

.options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

body .options .option:not(.active) .shadow {
    /* bottom: -40px; */
    box-shadow: inset 0 -120px 120px -120px #f8e941, inset 0 -120px 120px -100px #f8e941;
}

body .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

body .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

body .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 60px;
    color: #fc5276;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

button a {
    text-decoration: none;
    background-color: #fc5276;
}

button {
    background-color: #fc5276;
    padding: 15px;
    border: none;
    border-radius: 20px;
}